@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyFirstView</title>
</head>
<body>
    <div>
        Hello, This is First View.<br/>
        <hr />

        CustomerName :@ViewBag.Customer.CustomerName
        <br/>
        Address :@ViewBag.Customer.Address
        <br/>
        Age :@ViewBag.Customer.Age
        <br/>
    </div>
</body>
</html>